<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Wiki</title>
        <link rel="stylesheet" href="../../css/style.css">
        <script src="/node_modules/angular/angular.js"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/tether/dist/js/tether.min.js" ></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>
        <script src="/bower_components/angular/angular.js') }}" ></script>
        <script src="/bower_components/angular-route/angular-route.min.js" ></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.min.js" ></script>
        <script src="/js/app.js" ></script>
        <script src="/js/controller/frontcontroller.js" ></script>
    </head>
    <body>
      <div class="row">
        <nav class="col-lg-12">
          <ul class="menu">
            <li><a href="">S'inscrire</a></li>
            <li><a href="">Se connecter</a></li>
          </ul>
        </nav>
      </div>
    </body>
</html>
