<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Création d'une nouvelle page</h2>
            <form>
                <div class="form-group">
                    <label for="page_title">Titre de la page</label>
                    <input type="text" class="form-control" id="page_title" placeholder="Titre de la page">
                </div>
                <div class="form-group">
                    <label for="page_content">Contenu de la page</label>
                    <textarea class="form-control" id="page_content"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Créer</button>
            </form>
        </div>
    </div>
</div>