<div class="container">
    <div class="row">
    	<h1>WIKI ECV</h1>
        <div class="col-md-12">
            <h2>Les plus recents</h2>
            <article>
                <h5>Titre de l'article</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore...</p>
                <a href="#">Lire la suite</a>
            </article>
        </div>
        <!-- <div class="col-md-6">
            <h2>Les mieux notés</h2>
            <article>
                <h5>Titre de l'article</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore...</p>
                <a href="#">Lire la suite</a>
            </article>
        </div> -->
    </div>
</div>