body {
  margin: 0;
}

h1{
  text-align: center;
}

nav {
  padding-left: 0;
  margin: 0;
  background-color: black;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.menu {
  display: flex;
  justify-content: flex-end;
  /*padding-left: 0;
  margin: 0;
  background-color: black;*/
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.menu li a:hover {
  background: grey;
}

/*Formulaire*/
.style-formulaire {
  float: none;
  margin: 0 auto;
}

.connect{
  margin: 0 auto;
  text-align: center;
  background-color: #d8d8d8;
  height: 200px;
  padding-top: 10px;
}
